@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&display=swap');
@import url('reset.css');
@keyframes glow {
	0%{
		text-shadow: 0 0 6px rgb(255,255,255);
	}
	50%{
		text-shadow: 0 0 20px rgb(255,255,255);
	}
	100%{
		text-shadow: 0 0 6px rgb(255,255,255);
	}
}
body{
	//background-color: black;
	background: radial-gradient(ellipse at center, #141d4e 0%,#0e0a19 100%);
	width: 100%;
	overflow-x: hidden; 
	.mobile-banner, .banner{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1234;
		.title{
			color: white;
			font-family: 'Orbitron', sans-serif;
			font-size: 68px;
			position: relative;
			margin: 0;
			//animation: glow 2s linear infinite;
			margin-top: -4vw;
		}
		.subtitle{
			position: absolute;
			color: white;
		    margin: 0;
		    font-family: 'Noto sans', sans-serif;
		    margin-top: 18vw;
		    @media screen and (min-width: 768px){
		      font-size: 28px;
		    }
		}
	}
	.banner{
		display: none;
		@media screen and (min-width: 768px) {
			display: flex;
		}
	}
	.mobile-banner{
		flex-flow: column;
		justify-content: center;
		.title{
			font-size: 18vw;
			@media screen and (min-width: 500px){
				font-size: 76px;
			}
		}
		.subtitle{
			position: relative;
			text-align: center;
			font-size: 18px;
			margin-top: 20px;
		}
		@media screen and (min-width: 768px) {
			display: none;
		}
	}
	#wave{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0.5;
	}
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}